/* css reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../images/1.png);
  background-size: cover;
  z-index: -1;
  filter: blur(2px); /* 模糊度 */
}

.player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #a366cb;
  padding: 20px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  width: 500px;
}

.player .main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player .main .buttons .iconfont {
  font-size: 32px;
  cursor: pointer;
  transition: all 0.6s ease;
}
.icon-play {
  margin-left: 6px;
}
.player .main .buttons .iconfont:hover {
  opacity: 0.5;
}

.player .main .text {
  margin-left: 10%;
}

.player .bar {
  height: 3px;
  background-color: #ccc;
  border-radius: 4px;
}
.player .bar .progress {
  height: 100%;
  border-radius: 4px;
  width: 50%;
  background-color: currentColor; /*currentColor 继承当前文字颜色 */
}
