@font-face {
  font-family: "iconfont"; /* Project id 3967767 */
  src: url('iconfont.woff2?t=1679407713357') format('woff2'),
       url('iconfont.woff?t=1679407713357') format('woff'),
       url('iconfont.ttf?t=1679407713357') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e7fe";
}

.icon-right:before {
  content: "\e62a";
}

.icon-play:before {
  content: "\e911";
}

.icon-left:before {
  content: "\e600";
}

